
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Douglas County, CO Events</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/events']">All Events</a>
      </li>
      <li class="nav-item">
        <a name="search" class="nav-link" [routerLink]="['/search']">Search Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/create']">Create New Events</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input name="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="keyword">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchKeyword()">Search</button>
    </form>
  </div>
</nav>
<br>
