@charset "UTF-8";

body {
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("img/DouglasCounty.jpg");
	background-repeat: repeat, no-repeat;
	background-size: cover, cover;
}

h2 {
	text-align: left;
}
