.container-fluid {
  background: linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.25)),url('src/assets/fair.jpg');
  background-repeat: no-repeat;
	background-size: cover;
  background-position: bottom;
}
